.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}
.searchBar{
    background: var(--tg-theme-bg-color);
}
.search{
    background: var(--tg-theme-text-color);
}